// About page

// Section one

.about{
    padding: 3rem 0rem 0rem 3rem;
    background-color: #fff;
    background-image: url(../images/moi.jpg);
    background-position: bottom right;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 35%;

    @media screen and (max-width: 420px) {
      background-image: none;
      padding: 1rem;
    }
  }
  
  

    .containerabout{
      padding-top: 15px;
      margin: 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-items: center;
      margin-bottom: 0%;
      gap: 5px;
      
     @media screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      max-width: 100%;
      padding: 5px;

     }
    }
 
 

   