.third {
    background-color:#fff;
    padding:3rem;
    height:100vh;
    margin-bottom: 3rem;
    

 .containerthird{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin:20px;
    padding:20px;


.box{
    width:300px;
    height:300px;
    background-color: #a3ccac;
  

}
   
    
}
}