/*section 1*/
.first{
    background-color: #fff;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;*/
    padding:10px;
    

 .container{
    display: grid;
    grid-template-columns:15rem repeat(4, 1fr);
    grid-row:repeat (3, 1fr);
    margin:20px;
    padding:20px;
   
    
}
.textbox {
    grid-column: 4 / 6; 
    grid-row:1;
    padding: 10px;
    margin-left: 1rem;
    width:400px;
    height:80px;
    z-index:10;
    /*background-color: #a3ccac;*/
    
  

  }

 
    .firstleft{
        grid-column: 4 / 6;
        grid-row: 1 / 2;
        margin-left: -2rem;
        z-index:3;
        align-self: end;
        
      
          
        img{
            width: 100%;
            bottom:0;
           
            /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
            
        }
        
        .frame {
            width: 440px;
            height: 265px;
            border: 1px solid #000;
            background: #fff;
            margin: auto;
            padding: 15px 10px;
          }
    }
  
   .firstright{

    position: relative;
    overflow:hidden;
    grid-column: 1 / 4; 
    grid-row:1;
    z-index: 2;


     img{
       
        width: 100%;
        animation: zoom 30s;
        box-shadow: 2 4px 8px 0 rgba(0, 0, 0, 0.4);    
     }
    }

     @keyframes zoom {
        0% { transform:scale(1,1); }
        50% { transform:scale(1.2,1.2); }
        100% {transform:scale(1,1);}
      }
}

