/*section 1*/
.first{
  
    background-color: rgb(243, 241, 241);
    background-image: url(../images/indeximagere.jpg);
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 70%;  /*Resize the background image to cover the entire container */
    
}

 .container{
   
    padding:20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
    
  
   
  }
  .item1{
    grid-column-start: 2;
    grid-row-start: 2;

  }

  .item2{
    grid-column-start: 3 ;
    grid-row-start: 2;

  }
  .item3{
    grid-column-start: 4 ;
    grid-row-start: 2;

  }
  .logo{
    width:100%;
    grid-row-start: 2 / 4;
   

  }

  .card {
   
    width: 180px;
    height: 250px;
    
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
   /* border-radius: 5px;*/
    backdrop-filter: blur 5px;
    overflow: hidden;
    background: rgb(255, 255, 255, 0.5);
    align-items: center;
    border-top:1px solid rgba(240, 228, 228, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);
  }

  .content {
    
    text-align: center;
  
   
  }
  
  .card:hover .content p{
    transform:translateY(0px);
    opacity:1;
  }
  
  .content h2{
    position:absolute;
    margin-left: 3px;
    font-size:5em;
    font-weight: 600;    
    color: rgba(134, 71, 102, 0.2);
    pointer-events:none;
  }

  .content h3{
    font-size: 1.8em;
    color: black;
    z-index: 1;
    padding-top: 10vh;
    
  
  }

  .content p{
    font-size: 1.5em;
    transition: 0.5s;
    transform:translateY(100px);
    opacity:0;

  }
