@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "modal.scss";
@import "blog.scss";
@import "navbar.scss";
@import "subscribe.scss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1100px;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}

h2 {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
}

h3 {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: 3.2em;
}

h4 {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

p {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
}


/* Landing Page*/
/*section 1*/
.first {
  background-color: #fff;
  background-image: url(../images/indeximagere.jpg);
  background-position: right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 80%;

  /*Resize the background image to cover the entire container */
}

.logocard {
  width: 430px;
  height: 300px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  border-top: 1px solid rgba(240, 228, 228, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 25px;
  
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;
}

.item1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.item3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.logo {
  width: 100%;
  grid-row-start: 2/4;
}

.card {
  width: 180px;
  height: 250px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  border-top: 1px solid rgba(240, 228, 228, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
  text-align: center;
}

.card:hover .content p {
  transform: translateY(0px);
  opacity: 1;
}

.content h2 {
  position: absolute;
  margin-left: 3px;
  font-size: 5em;
  font-weight: 600;
  color: rgba(134, 71, 102, 0.2);
  pointer-events: none;
}

.content h3 {
  font-size: 1.8em;
  color: black;
  z-index: 1;
  padding-top: 3vh;
}

.content p {
  font-size: 1.5em;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

/*Second section*/
.second {
  background-color: #b5c9b9;
  padding: 3rem;
  
  text-align: center;
 

}
.img{
  right: 3rem;

}

.reveal {
  position: relative;
  opacity: 0;
  background:none;
}

.reveal.active {
  opacity: 1;
}

.active.fadeAndScale4 {
  
  animation:fadeAndScale 1s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin:center bottom;
}
@keyframes fadeAndScale {
  0% {
    opacity:0;
    transform:scale3d(.75,.75,1);

  }
  40%{
    opacity:0;
    transform:scale3d(.75,.75,1);
  }

  100% {
    opacity:1;
    transform:scale3d(1,1,1);
  }
}




.containersecond {
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 10px;
  padding: 10px;
  justify-items:center;
  align-items: center;

  .cardaboutme {
    grid-column: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    top: 3vh;
    width: 350px;
    height: 400px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
   
  }

  .textbox{
    text-align: left;
  }


}
.button1{
  background-color: #4c917a; 
  font-family: 'Abel' , sans-serif;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.button1:hover{
  background-color: #ebbdc9; 
  color: #000;
  font-weight: 700;
}




/* Section Three / Work with me*/
.third {
  background-color: #f7eff1;
  padding: 3rem;
  
 
}
.reveal {
  position: relative;
  opacity: 0;
  background:none;
}

.reveal.active {
  opacity: 1;
}

.active.fadeAndScale {
  
  animation:fadeAndScale 2s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin:center bottom;
}

.active.fadeAndScale2 {
  
  animation:fadeAndScale 3s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin:center bottom;
}

.active.fadeAndScale3 {
  
  animation:fadeAndScale 4s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin:center bottom;
}
@keyframes fadeAndScale {
  0% {
    opacity:0;
    transform:scale3d(.75,.75,1);

  }
  40%{
    opacity:0;
    transform:scale3d(.75,.75,1);
  }

  100% {
    opacity:1;
    transform:scale3d(1,1,1);
  }
}

.containerthird {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  padding: 20px;
  justify-items: center;
  grid-gap: 1.5rem;
}




.cardtwo {
  grid-column: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  
}


.cardthree {
  grid-column: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 10px;*/

  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;

}



.cardfour {
  grid-column: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;

}

.cardone:hover,
.cardtwo:hover,
.cardthree:hover,
.cardfour:hover {
  box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);
}

button {
  border: none;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #888;
  max-width: 500px;
  bottom:0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*border-radius: 10px;*/
}

@media screen and (max-width: 960px) {
  .modal-content {
    left: 0;
    right: 0;
    margin: 20px;
  }
}
/* The Close Button */
.close {
  color: #000;
  position: absolute;
  /* float: right; */
  font-size: 28px;
  line-height: 14px;
  font-weight: bold;
  /* width: 50px;
  height: 100%; */
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* padding: 30px; */
  transition: color 0.2s ease-in-out;
}

.close:hover {
  color: rgba(88, 88, 99, 0.8);
  /* text-decoration: none; */
}

.footer{
  background-color: #a3ccac;
  color: #000;
  font-family:'Abel', 'Poppins';
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 3rem;
  padding: 20px;



 .footercontainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px;
  font-size: 1.5em;
  

}

.follow{
  text-align: center;
}
.icon{
 padding: 5px; 
}
.icon:hover{
  transition: transform  0.4s ease-out;
     transform: scale(1.5);
     transform-origin: center;
}

.subscribe{
  text-align: center;
}

.write{
  text-align: center;


  .alinks{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    padding: 5px;
  }

  .alinks:hover{
    text-decoration: underline;
    color: rgb(156, 53, 101);
  }

}
}

// About page

.about{
padding: 3rem;

}

.containerabout{
  display: grid;
 
  grid-template-columns: 1fr 1fr;
  margin: 15px;
  padding: 20px;
  justify-items: center;
  grid-gap: 1.5rem;

}
.cardHI {
  grid-column: 1;
  box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;

}
.textHI{
  padding-left:20px;
}

.cardHI:hover{
  
    box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
