@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "modal.scss";
@import "blog.scss";
@import "navbar.scss";



nav {
  background-color: #a3ccac;
  width: 100%;
  /*border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

nav .navbar {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 20px;
}

nav .navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  /*padding-top: 5px;*/
}

nav .title {
  padding: 10px;
}

nav .navbar ul li a {
  text-decoration: none;
  color: #000;
  justify-content: right;
  font-family: "Abel", "Poppins";
  font-weight: 500;
  font-size: 1.7em;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #888;
  max-width: 500px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*border-radius: 10px;*/
}

@media screen and (max-width: 960px) {
  .modal-content {
    left: 0;
    right: 0;
    margin: 20px;
  }
}
/* The Close Button */
.close {
  color: #000;
  position: absolute;
  /* float: right; */
  font-size: 28px;
  line-height: 14px;
  font-weight: bold;
  /* width: 50px;
  height: 100%; */
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* padding: 30px; */
  transition: color 0.2s ease-in-out;
}

.close:hover {
  color: rgba(88, 88, 99, 0.8);
  /* text-decoration: none; */
}

.blog {
  background-color: #f0f7f1;
  padding: 20px;
  margin-bottom: 3rem;
}

/*Cards */
.containersecond {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px;
  padding: 20px;
  justify-items: center;
  grid-gap: 1.5rem;
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  40% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.cardone {
  grid-column: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 10px;*/
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  z-index: 3;
  animation: fadeAndScale 3s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardtwo {
  grid-column: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  animation: fadeAndScale 4s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardthree {
  grid-column: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 10px;*/
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  animation: fadeAndScale 5s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardfour {
  grid-column: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  animation: fadeAndScale 6s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardone:hover,
.cardtwo:hover,
.cardthree:hover,
.cardfour:hover {
  box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);
}

.post {
  background-color: #f0f7f1;
  padding: 20px;
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
}

.weathercard {
  /*border-radius: 5px;  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  width: 100%;
  height: 240px;
  overflow: hidden;
  background: #a3ccac;
  align-content: center;
  padding: 10px;
  grid-column-start: 1;
}

.weathercardtime {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  width: 100%;
  height: 170px;
  overflow: hidden;
  background: #a3ccac;
  align-content: center;
  padding: 10px;
  grid-column-start: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: 5px;
}

.description {
  text-transform: capitalize;
}

/*Gallery*/
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1100px;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}

h2 {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
}

h3 {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: 3.2em;
}

h4 {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

p {
  font-family: "Abel", sans-serif;
  font-size: 0.9em;
}

.scroll__container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Landing Page*/
/*section 1*/
.first {
  background-color: #fff;
  background-image: url(../images/indeximagere.jpg);
  background-position: right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 80%;
  /*Resize the background image to cover the entire container */
}

.logocard {
  width: 330px;
  height: 300px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  border-top: 1px solid rgba(240, 228, 228, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;
}

.item1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.item3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.logo {
  width: 100%;
  grid-row-start: 2/4;
}

.card {
  width: 180px;
  height: 250px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur 5px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  border-top: 1px solid rgba(240, 228, 228, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
  text-align: center;
}

.card:hover .content p {
  transform: translateY(0px);
  opacity: 1;
}

.content h2 {
  position: absolute;
  margin-left: 3px;
  font-size: 5em;
  font-weight: 600;
  color: rgba(134, 71, 102, 0.2);
  pointer-events: none;
}

.content h3 {
  font-size: 1.8em;
  color: black;
  z-index: 1;
  padding-top: 3vh;
}

.content p {
  font-size: 1.5em;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

/*Second section*/
.second {
  background-color: #b5c9b9;
  padding: 3rem;
}

.containersecond {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px;
  padding: 20px;
  justify-items: center;
  grid-gap: 1.5rem;
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  40% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.cardone {
  grid-column: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 10px;*/
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  z-index: 3;
  text-decoration: none;
  animation: fadeAndScale 3s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardtwo {
  grid-column: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  animation: fadeAndScale 4s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardthree {
  grid-column: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 10px;*/
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  animation: fadeAndScale 5s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardfour {
  grid-column: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  animation: fadeAndScale 6s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: center bottom;
}

.cardone:hover,
.cardtwo:hover,
.cardthree:hover,
.cardfour:hover {
  box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);
}

button {
  border: none;
  cursor: pointer;
}

.third {
  background-color: #a36475;
  padding: 3rem;
  margin-bottom: 3rem;
}

.third .containerthird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  padding: 20px;
}

.third .containerthird .box {
  width: 300px;
  height: 300px;
  background-color: #b9aeb1;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.scss.map */
