.wrapper{
  display:grid;
  grid-template-columns: 60% 40%;
  width: 300px;
  height: 50px;
  margin: auto;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  border: 2px solid #000;
  
}


.writemail{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  border:none;

}
.submit{
 
  right:42%;
  width:99%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 1px #000 solid;
  transition: 0.3s;
  margin:0;
  
 
  }

  .submit:hover{
    background: #d8a6b2;
   
  
  }
  


